Host jump-dev
    Hostname <JUMP_VA1_HOSTNAME>
    User jlevitt
    ForwardAgent yes

Host jump-ca1
    Hostname <JUMP_CA1_HOSTNAME>
    User jlevitt
    ForwardAgent yes

Host jlevitt
    ProxyCommand ssh -W %h:%p jlevitt@jump-dev
    User jlevitt
    ForwardAgent yes

Host jump-stage
    Hostname <JUMP_ALT_STAGE_HOSTNAME>
    User jlevitt
    ForwardAgent yes
